---
import disciplines from "../data/limits";
---

<script>
  import Alpine from "alpinejs";
  import { maleLimits, femaleLimits, ageCategories } from "../data/limits";

  const initLimits = () => {
    return {
      gender: "male",
      ageCategory: 1,
      maleLimits,
      femaleLimits,
      ageCategories,
      selectedLimits: maleLimits,
    };
  };

  Alpine.data("limits", initLimits);
</script>

<div class='grid grid-cols-1 lg:grid-cols-2 text-white' x-data='limits'>
  <div
    class='lg:bg-[radial-gradient(ellipse_at_right,_var(--tw-gradient-stops))] from-stone-700/50 via-transparent flex flex-col items-center py-10 gap-5'
  >
    <span class='text-2xl text-shadow font-bold'>Jsem</span>

    <div
      class='flex flex-row w-full lg:w-2/3 border border-stone-700 rounded-lg overflow-hidden divide-x divide-dotted divide-stone-800 drop-shadow-bold bg-stone-950'
    >
      <button
        class='flex-1 p-2.5 hover:bg-stone-700 transition-colors duration-100'
        :class='{ "bg-stone-700": gender === "male" }'
        @click='gender = "male", selectedLimits = maleLimits'>muž</button
      >
      <button
        class='flex-1 p-2.5 hover:bg-stone-700 transition-colors duration-100'
        :class='{ "bg-stone-700": gender === "female" }'
        @click='gender = "female", selectedLimits = femaleLimits'>žena</button
      >
    </div>

    <span class='text-2xl text-shadow font-bold'>ve věku</span>

    <div
      class='grid grid-cols-2 lg:grid-cols-3 w-full lg:w-2/3 border border-stone-700 overflow-hidden rounded-lg bg-stone-950 drop-shadow-bold divide-x divide-y divide-dotted divide-stone-800'
    >
      <button
        class='p-2.5 hover:bg-stone-700 transition-colors duration-100'
        :class='{ "bg-stone-700": ageCategory === 1 }'
        @click='ageCategory = 1'
        x-text="ageCategories[gender][0]">do 30 let</button
      >
      <button
        class='p-2.5 hover:bg-stone-700 transition-colors duration-100 !border-t-0'
        :class='{ "bg-stone-700": ageCategory === 2 }'
        @click='ageCategory = 2'
        x-text="ageCategories[gender][1]">31 - 35 let</button
      >
      <button
        class='p-2.5 hover:bg-stone-700 transition-colors duration-100 lg:!border-t-0'
        :class='{ "bg-stone-700": ageCategory === 3 }'
        @click='ageCategory = 3'
        x-text="ageCategories[gender][2]">36 - 40 let</button
      >
      <button
        class='p-2.5 hover:bg-stone-700 transition-colors duration-100 lg:!border-l-0'
        :class='{ "bg-stone-700": ageCategory === 4 }'
        @click='ageCategory = 4'
        x-text="ageCategories[gender][3]">41 - 45 let</button
      >
      <button
        class='p-2.5 hover:bg-stone-700 transition-colors duration-100'
        :class='{ "bg-stone-700": ageCategory === 5 }'
        @click='ageCategory = 5'
        x-text="ageCategories[gender][4]">46 - 50 let</button
      >
      <button
        class='p-2.5 hover:bg-stone-700 transition-colors duration-100'
        :class='{ "bg-stone-700": ageCategory === 6 }'
        @click='ageCategory = 6'
        x-text="ageCategories[gender][5]">51 let a starší</button
      >
    </div>
  </div>

  <div
    class='border border-stone-700 border-dashed p-5 grid place-items-center rounded-lg drop-shadow-bold lg:bg-[radial-gradient(ellipse_at_left,_var(--tw-gradient-stops))] from-stone-900 via-stone-950 to-stone-950'
  >
    <div class='flex flex-col w-full divide-y divide-stone-700 divide-dotted'>
      <div class='grid grid-cols-2 lg:grid-cols-3 pb-2.5'>
        <div class='hidden lg:block'></div>
        <div class='text-center font-semibold'>Bojová část</div>
        <div class='text-center font-semibold'>Zabezpečení a štáb</div>
      </div>

      {
        disciplines.map((discipline) => (
          <div 
          class='grid grid-cols-2 lg:grid-cols-3 gap-2.5 lg:gap-0 py-2.5'
          :class={`{'hidden': gender !== '${discipline.onlyFor}' && '${discipline.onlyFor}' !== 'undefined'}`}>
            <div class='col-span-2 lg:col-span-1 text-shadow'>
              <span class='font-semibold'>{discipline.title}</span>
              {discipline.subtitle && (
                <span class='text-stone-400'>{discipline.subtitle}</span>
              )}
            </div>
            <div class='text-center font-light' x-text={`selectedLimits[ageCategory]['${discipline.id}_a']`}>46</div>
            <div class='text-center font-light' x-text={`selectedLimits[ageCategory]['${discipline.id}_b']`}>42</div>
          </div>
        ))
      }
    </div>
  </div>
</div>
